@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Oxygen:wght@300&family=Ubuntu:wght@300&display=swap');
/* font-family: 'IBM Plex Sans', sans-serif; */
/* font-family: 'Oxygen', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */

body{
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
}
.row{
    margin-right: 0;
}
.col-md-6{
    padding-right: 0;
    padding-left: 0;
}

.header{
    background: #7567fb;
    padding: 26px;

}
.header p{
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 4px;
    text-align: left;
    font-family: 'Oxygen', sans-serif;
    color: #fff;
    padding-left: 27px;
}

.header img{
    padding: 16px;
    width: 300px;
}

/* --------------------------- features section ---------------------- */

.features{
    background: #5e52c9;
    padding: 4% 7%;
    font-family: 'IBM Plex Sans', sans-serif;
}

.features h1{
    color: #fff;
    font-size: 26px;
    text-align: left;
}
.features .row{
    padding:24px 20px;
}
.features p{
    color: #fff;
    margin-top: 8px;
}
.features .row .col-md-6{
    text-align: left;
}

/* ----------------------- APP STATION-------------------  */

.Appstation{
    text-align: left;
    
}
.Appstation .head{
    padding: 24px;
}
.Appstation .head i{
    display: block;
    float: right;
    font-size: 16px;
    margin-top: 3%;

}
.Appstation .head p{

    display: inline;
    font-size: 26px;
    font-family: 'IBM Plex Sans', sans-serif;

}
.Appstation .applist{
    padding: 15px;
    background: #d3e0ea;
    height: 585px;
    overflow: overlay;

}

.Appstation .applist .card{
    margin-bottom: 10px;

}
.Appstation .applist .card .card-body .logo{
    width: 50px;
    height: 50px;
    background: #5e52c9;
}
 




.Appstation .applist .card .card-body i{
    float: right;
    position: absolute;
    right: 6%;
    top: 26%;
    color: #2124;
    cursor: pointer;
}

.Appstation .applist .card .card-body p{
    font-size: 9px;
    position: absolute;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    left: 12%;
    top: 33%;
}
.Appstation .applist .card .card-body small{
    position: absolute;
    top: 13%;
    left: 12%;
    font-size: 18px;
    font-weight: 700;
    
}

.Appstation .applist table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 8px;
}

.Appstation .applist tr{
      font-size: 10px;
}

.Appstation .applist th {
    text-align: left;
    padding: 4px;
    font-size: 14px;
}

.Appstation .applist td{
      font-size: 16px;
}

      

  
/* --------------------- Appdata ------------------ */

.Appheader .Appdata{
    background: #7567fb !important;
}
.Appheader .Appdata h6{
    font-size: 14px;
    letter-spacing: 2px;
}
.Appheader .card{
    margin-top: 4%;
    text-align: left;
}

.Appheader  .card .innerlogo{
    width: 50px;
    height: 50px;
    background: #5e52c9;
    position: relative;
    left: 5%;
}
.Appheader .card small{
    position: absolute;
    top: 34%;
    font-size: 23px;
    font-weight: 500;
    left: 11%;
}
.Appheader .card p{
    display: inline-block;
    position: absolute;
    top: 62%;
    left: 11%;
    font-size: 10px;
}
.Appheader a{
    color: darkgray;
}

.AppdataTable {
    font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
margin-top: 8px;
}

.AppdataTable tr{
    font-size: 10px;
    padding: 6px;
}

.AppdataTable th {
  text-align: center;
  padding: 4px;
  font-size: 14px;
  padding: 10px;
}

.AppdataTable td{
    font-size: 16px;
    padding: 6px;
    color: #5b6d5b;
}

@media (min-width:320px) and (max-width:600px){



    .features .row .col-md-6 {
        text-align: inherit;
        padding-bottom: 6px;
    }
    .Appstation .applist .card .card-body p , .Appstation .applist .card .card-body small{
        left:28%;
    }
    .Appstation .applist th {        
        font-size: 10px;
        line-height: 2;
    }
        
    .Appheader .card{
        margin-top: 17%;
    }
    .Appheader .card small{
    left:30%;
    }
    .Appheader .card p{
        left:31%;
    }
}

@media (min-width:768px) and (max-width:1024px){

    .Appstation .applist .card .card-body small ,.Appstation .applist .card .card-body p{
        left:24%;
    }
    .Appstation .applist th{
        font-size: 12px;
    }
    
    
    



    .Appheader .card{
        margin-top: 6%;
    }
    .Appheader .card small{
        left:15%;
        }
        .Appheader .card p{
            left:15%;
        }

}